<div class="container-xxl">
<div class="container-xxl" style="background-color: #17A2B8;">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" routerLink="/client" routerLinkActive="active" class="btn btn-info">Clientes</button>
    <button type="button" routerLink="/product" routerLinkActive="active" class="btn btn-info">Produtos</button>
    <button type="button" routerLink="/request" routerLinkActive="active" class="btn btn-info">Pedidos</button>
  </div> 
</div>
</div>
<div class="container-xxl">
  <router-outlet></router-outlet>
</div> 